-r requirements.txt
-r requirements-tests.txt
bump2version==1.0.1
coverage==6.3.2
edx-sphinx-theme==3.0.0
flake8==4.0.1
ipython>=8.1.1
jedi!=0.18.0
isort==5.10.1
pre-commit==2.17.0
pur==6.0.1
responses==0.18.0
Sphinx==4.4.0
twine==3.8.0
wheel==0.37.1
black==22.1.0
