bumpversion==0.5.3
coverage==5.0.3
edx-sphinx-theme==1.5.0
flake8==3.7.9
ipython==7.12.0
isort==4.3.21
pip==20.0.2
PyInstaller==3.6
pytz==2019.3
requests==2.23.0
setuptools==45.2.0
Sphinx==2.4.2
tox==3.14.5
twine==3.1.1
watchdog==0.10.2
wheel==0.34.2
