bump2version==1.0.1
coverage==5.3.1
edx-sphinx-theme==1.6.0
flake8==3.8.4
ipython>=7.19.0
isort==5.7.0
pip==20.3.3
PyInstaller==4.1
pytz>=2020.0
pytest==6.2.1
responses==0.12.1
setuptools==51.1.1
Sphinx==3.4.2
requests>=2.24.0,<2.26.0
PySocks==1.7.1
twine==3.3.0
wheel==0.36.2
pur==5.3.0
