bump2version==1.0.1
coverage==5.5
edx-sphinx-theme==2.0.0
flake8==3.8.4
ipython>=7.21.0
jedi!=0.18.0
isort==5.7.0
pip==21.0.1
pre-commit==2.10.1
pur==5.3.0
PyInstaller==4.2
PySocks==1.7.1
pytest==6.2.2
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
responses==0.12.1
setuptools==54.0.0
Sphinx==3.5.1
twine==3.3.0
wheel==0.36.2
